* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Container {
  transform: translateY(15%);
  
}

#AContainer {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 60vh;
  background: url(../IMG/clock.png) no-repeat;
  background-color: rgba(0, 0, 0, 0.513);
  border: 4px solid #55acee;
  border-radius: 119px;
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}
#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}
#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

#Dclock {
  height: 50%;
  background-color: white;
  font-size: 4rem;
  padding: 1rem;
  /* padding: 5px 20px; */
  width: 40%;
  border: 5px solid #55acee;
  text-align: center;
  align-items: center;
  border-radius: 25px;
  margin: auto;
}

@media screen and (max-width: 500px) {
  #AContainer {
    height: 45vh;
    width: 45vh;
  }
  #Dclock {
    font-size: 2rem;
    padding: 1rem;
    /* padding: 5px 20px; */
    width: 50%;
  }
}
