* {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

#AContainer {
  position: relative;
  margin: 50px auto;
  height: 60vh;
  width: 60vh;
  background: url(../IMG/clock.png) no-repeat;
  background-color: rgba(128, 128, 128, 0.438);
  border: 4px solid #55ACEE;
  border-radius: 119px;
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}
#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}
#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

#Dclock {
  height: 150px;
  background-color: white;
  padding: 5px 20px;
  width: 601px;
  border: 5px solid #55ACEE;
  text-align: center;
  align-items: center;
  border-radius: 25px;
  margin: auto;
  font-size: 110px;
}
